<h1 style="text-align: center; color: #bb00ff; margin-bottom: 2rem;">ユーザー編集</h1>

<%= render 'form' %>

<div style="text-align: center; margin-top: 1rem;">
 <%= link_to '戻る', user_path(@user), style: "color: #bb00ff;" %>
</div>