<div class="container">
 <h1 class="title">ユーザー詳細</h1>

 <div class="form-group">
  <div class="form-label">
    名前
  </div>

  <div class="form-label-show">
    <%= @user.name %>
  </div>
 </div>

 <div class="form-group">
  <div class="form-label">
    メールアドレス
  </div>

  <div class="form-label-show">
    <%= @user.email %>
  </div>
 </div>

  <%= link_to '編集', edit_user_path(@user), class: 'btn' %>

 <div class="back-link-container">
  <%= link_to '戻る', savings_path, class: 'back-link' %>
 </div>
</div>